{
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]],
  "presets": [
    ["@babel/preset-env",{
      "loose": true
    }],
    "@babel/preset-typescript",

    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "reactImportSource": "@emotion/react",
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
